<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.content %}{{ page.content | strip_html | strip_newlines | truncatewords: 25 | truncate: 160 | remove: 'Website &amp; Server' | remove: 'Description'}}{% else %}{{ site.description }}{% endif %}">
    <link rel="icon" type="image/x-icon" href="{{ "/Innumerable.ico" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
    <noscript><style>.lazyload{opacity:1;}</style></noscript>
</head>